*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.carousel {
    position: relative;
    width: 100%;
    max-width: 1500px;
    overflow: hidden;
}

.carousel-image {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 1s ease;
    height: 450px;
}

.carousel-image.active {
    opacity: 1;
    position: relative;
}